<h1>You Win!</h1>

<% if flash[:message] %>
  <p>
    <span class="error"><%= flash[:message] %></span>
  </p>
<% end %>

<p>
  The word was
  <span class="win"><%= @game.word %></span>.
</p>

<%= erb :new %>
